{% extends 'skills/main-layout.html'%}
{% block main_section %}

    {% for skill in skills %}
    <div class="skills">
        <h1>{{ skill.title }}</h1>


        {% if skill.img %}
        <img style="width:70%; height=70%;" src="{{ skill.img.url }}" alt="{{ skill.title }}">
        {% else %}
        <img style="width:70%; height=70%;" src="/pictures/default.jpg" alt="{{ skill.title }}">
        {% endif %}
        <br>
        <a href="{{ skill.get_absolute_url }}">Посмотреть</a>
    </div>
    {% endfor %}
{% endblock %}