{% extends 'skills/main-layout.html' %}
{% block main_section %}
<div class="profile-div" >
  <div class="profile-h2">
    <h2>Кабинет пользователя</h2>
    <div class="profile-img">
      <img class="" style="width: 64px; height: 64px;" src="{{ user.profile.img.url }}">
      <p class="profile-p">
        <strong class="">@{{ user.username }}</strong> </br>
        <b>Email:</b> {{ user.email }}
      </p>
    </div>
  </div>
  <div class="profile-dno">
    <h3 class="">Изменить данные про пользователя</h3>
    <form method="POST" enctype="multipart/form-data" class="profile-form">
      {% csrf_token %}
      {{ update_user }}
      {{ img_profile.as_p }}
      <button type="submit" class="">Обновить данные</button>
    </form>
  </div>
</div>
{% endblock main_section %}
